.admin_dashboard {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

/*header*/
div#header {
    width: 100%;
    height: 50px;
    background-color: #3c8dbc;
    margin: 0 auto;
    color: white;
    position: fixed;
    z-index: 3;  
}

a:hover {
    text-decoration: none;
}

.logo a {
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
}

.logo {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.logo a span {
    font-weight: bolder;
}

/*sidebar*/

div#admin-sidebar {
    width: 200px;
    height: 100%;
    background-color: #222d32;
    float: left;
    position: fixed;
    top: 90px;
}

ul#nav {
    padding: 0;
    list-style-type: none
}

ul#nav li {
    list-style: none;
}

ul#nav li a {
    text-decoration: none;
    color: #ccc;
    display: block;
    padding: 15px;
    font-size: 0.9em;
    border-bottom: 1px solid #0A0A0A;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2;
}

ul#nav li a:hover {
    color: #fff;
    background: #161c1f;
}

ul#nav li a.selected {
    color: #fff;
    background: #161c1f;
}


/*container*/

div#admin-container {
    margin: 0 auto;
    height: 100%;
}

div.admin-content {
    width: auto;
    padding: 60px 20px 0px 210px;
    background-color: #ecf0f5;
}

.info-box {
  display: block;
  min-height: 90px;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 15px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background: #fff;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0,0,0,0.2);
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}

.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.info-box-text {
   display: block;
   font-size: 14px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   text-transform: uppercase;
}

.bg-aqua {
  background-color: #00c0ef !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-yellow {
  background-color: #f39c12 !important;
}

.bg-red {
  background-color: #dd4b39 !important;
}
.treeview >.active {
  display: block;
}
/*.box{
   position: relative;
   border-radius: 3px;
   background: #ffffff;
   border-top: 3px solid #d2d6de;
   margin-bottom: 20px;
   width: 100%;
   box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-body {
       border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}*/